@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;900&display=swap');
:root{
    --principal-pink:#EF456F;
    --secondary-pink: #ffebf8;
    --secondary-gray:#252544;
    --light-gray:#bfc2c4;
}
body{
    font-family: 'Poppins', sans-serif;
}
    
/*Navbar*/
.navbar{
    background: var(--principal-pink)
}
.nav-item{
    margin: 0;
    padding: 0;
}
.nav-link{
    color:var(--secondary-pink);
    font-size: 15px;
    margin: 0 15px;
    transition: all .5s ease-in-out;
}
.navbar-brand{
    color: var(--secondary-pink);
    font-weight: 900;
}
.main-btn{
    background: var(--secondary-gray);
    color:rgb(246, 255, 245);
    font-size: 15px;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 25px;
    text-decoration: none;
}
/*End Navbar*/
/*Hero*/
.hero{
    background: url(./ASSETS/img/blurry-gradient-haikei.svg);
    background-size: cover;
    height: 90vh;
}
.hero span{
    background-color: var(--secondary-pink);
    padding: 10px 30px;
    border-radius:30px;
    font-size: 13px;
    font-weight: 400;
    color:var(--secondary-green);
}
h1{
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color:var(--secondary-gray);
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--secondary-pink);
}
img{
    height: 80vh;
}
.btn{
    background: var(--secondary-gray);
    color:rgb(246, 255, 245);
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.form-control{
    padding:15px 20px;
}
/*End Hero*/
/*about*/

i{
    background-color: #252544;
    padding: 20px;
    color:var(--principal-pink);
    border-radius: 50px;
    font-size: 80px;
}
.about-info{
    color: var(--light-gray);
}
/*end about*/
/*services*/
.work {
background: url(./ASSETS/img/blurry-gradient-haikei.svg);
background-size: cover;
height: 90vh;
}
.work img{
    width: 80vh;
}
/*end services*/
/*subscribe*/
.subscribe{
    background: var(--secondary-gray);
}
.subscribe h2{
    color: var(--secondary-pink);
}
.btn-subscribe{
    background: var(--principal-pink);
    color:rgb(246, 255, 245);
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;

}
/*end-subscribe*/





